* {
	box-sizing: border-box;
}
body {
	font-family: "Myriad Pro", arial, helvetica, sans-serif;
	background: url(../img/fondo.png);
    background-attachment: fixed;
    margin: 0;
}
.contenedor {
	/* width: 960px; */
    /* width: 1170px; */
    width: 1304px;
	margin: auto;
	display: flex;
    /* border: 1px solid red; */
}

/* HEADER */

#menu .contenedor{
    justify-content: space-between;
}
#menu{
    background: url(../img/banner_menu.png);
    margin: 0;
    width: 100%;
    justify-content: space-around;
}
#logo{
    flex-direction: row;
    display: flex;
}
#logo h4{
    color: #fff;
    display: flex;
    align-items:center ;
    padding-left: 30px;
    font-size: 20px;
    font-style: italic;
}
#logo #logo_1{
    display: flex;
    justify-content: center;
}
#logo img{
    display: flex;
    align-items: center;
    width: 120px;
    margin: 21px 0;
}

#menu #nav{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu #nav a{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: black;
    background-color: #fff;
    padding: 8px 30px;
    margin-left: 4px;
    text-decoration: none;
    border-radius: 20px;
}
#menu #nav a:hover{
    background-color: #831e33;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
}

/* CONTENIDO */

#content{
    margin-bottom: 50px;
}

#img_1 img, #img_2 img{
    width: 385px;
    margin-top: 80px;
}
#info_1{
    width: 33.3%;
    text-align: center;
    margin: auto;
    margin-top: 80px;
}
#info_1 h1{
    color: #831e33;
}
#info_1 p{
    line-height: 1.19;
    font-size: 20px;
}
#info_1 span{
    font-weight: bold;
}
.boton{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    background-color: #831e33;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 20px;
}
.boton:hover{
    background-color: #ca5c7c;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
}

/* GALERIA */

#galeria{
    background: url(../img/fondo_3.png) center;
    background-attachment: fixed;
    padding-bottom: 30px;
}
#img_gal img{
    width: 339px;
    margin: 30px 46px;
    /* justify-content: space-between; */
}
#boton_gal{
    display: flex;
    justify-content: center;
    width: 100%;
}

                        /* INFO_2 */


/* FELIZ */


#feliz, #agatha{
    display: flex;
    margin-top: 80px;
}
#feliz_izq{
    width: 50%;
}
#feliz_izq img{
    width: 520px;
    margin-left: 100px;
}
#feliz_izq h3{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: -80px;
}
#feliz_izq span{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-size: 30px;
    font-style: italic;
}
#feliz_drch{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#feliz_drch p{
    font-size: 30px;
    display: flex;
    align-items: center;
}
#feliz_drch a{
    width: 200px;
    justify-content: center;
    display: flex;
}

/* AGATHA */

#agatha_drch{
    width: 50%;
}
#agatha_drch img{
    width: 520px;
    margin-right: 100px;
}
#agatha_drch h3{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: -30px;
    margin-right: 2px;
}
#agatha_drch span{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-size: 30px;
    font-style: italic;
}
#agatha_izq{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#agatha_izq p{
    font-size: 30px;
    display: flex;
    align-items: center;
}

/* FOOTER */

#footer{
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 80px;
}
#footer .contenedor{
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}
#footer #logo_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
#footer #redes{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer #redes img:hover{
    filter: invert(0.9);
}
#final_ft{
    display: flex;
    width: 100%;
    justify-content: center;
}

#boton_arriba{
    position: fixed;
	bottom: 1px;
	right: 40px;
    background-color: #fff;
    border-radius: 180px 180px 180px 180px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
#boton_arriba:hover{
    filter: invert(1);
}
#boton_arriba img{
    width: 50px;
}